
/* Your CSS Code here. */
/* .outer_con{
	border: 2px solid black;
	width: 480px;
} */
/* .first_con{
	margin: 20px;
	border: 15px solid blue;
	width: 400px;
}
.final_con{
	padding: 50px;
	background-color: lightblue;
	width: 300px;
} */
.box {
            width: 300px;
            background-color: lightblue;
            border: 15px solid blue;
            padding: 50px;
            margin: 20px;
            box-sizing: border-box;
        }